/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media all and (max-width: 1200px){
        .profile-bottom {
    height: 44vh;

}

@media all and (max-width:991px){

    .search-area{
        display: block;
    }
    .left-sidebar-area {
        visibility: hidden;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        left: -100%;
        top: 8rem;
    }
}
    .clickable {
        visibility: visible;
        top: 8rem;
        left: 0;
        top: 8rem;
    }
.side-bar-area {
    width: 100%;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.profile-bottom {
    height: inherit;
    overflow-x:hidden ;
    overflow-y: inherit;
}
    div#home {
        margin: 3.8rem 0rem 0rem 1rem;
    }
    .nav-menu li a {
        position: relative;
        margin-right: -2rem;
    }
    .coppy-write a {
        margin-left: 0rem;
    }
    .contact-form-area {
        background: var(--profile);
        padding: 0.8rem;
    }
    .blog {
        margin: 0 auto;
    }
}
@media all and (max-width: 767px){
       .serch-style {
    margin-left: 2rem;
}
    .darkmode {
    margin-right: 2rem;
}
        #navbar {
    display: none;
}
    .small-size{
        display: none;
    }
    div#home {
        outline: 0;
        border: none;
        margin: 3rem 0rem 0rem 0rem;
    }
.extra-style {
    width: 95%;
    margin: 0 auto;
}
.contact-form-area {
    padding: 3.8rem;
}
.bire-contact {

    margin-top: 4rem;
}
.client-info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
    .banner-content {
        padding: 4rem 0rem 4rem 4rem;
    }
    .typing h1 {
       font-size: 6.6rem;
    }
    .typing h1 span {
        font-size: 5rem;
        line-height: 9rem;
    }
    .software{
        margin-top: 1.5rem;
    }
    .flower-contents::before {
        display: none;
    }
    .flower-content::after {
        display: none;
    }
    .lefting {
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .pricing{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .price-last-item{
        margin-top: 4rem;
    }
    .col-12.recomman-left {
        margin-left: 0.7rem;
    }
    .education {
        padding: 4rem 2rem 5rem 4rem;
    }
}

@media all and (max-width: 575px){
   .serch-style {
    max-width: 31rem;
    margin-left: 2rem;
}
    .darkmode {
    margin-right: 3rem;
}
.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}
.client-info {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
}
    .typing h1 {
        font-size: 3.6rem;
    }
    .typing h1 span {
        font-size: 3.6rem;
    }
    .heading-title {
        max-width: 482px;
    }
    .services {
        height: 25rem;
    }
    .auto-serivce2 {
        margin-top: 1.5rem;
    }
    .price-area {
        width: 71%;

    }
    .auto-blog {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .pricing {
        margin-top: 4rem;
    }
    .class {
        text-align: center;
        margin-bottom: 2rem;
    }
    .class h2, .class-details h2 {
        padding-bottom: 1rem;
    }
}
@media all and (max-width: 480px){
    .serch-style {
    display: none;
}
.button-inner-wrapper {
    position: relative;
    z-index: 9999;
}
.typing h1 span i {
    font-size: 4rem;
}
.typing h1 span {
    font-size: 2.6rem;
}
.contact-form-area {
    padding: 1rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.bire-contact {
    padding: 0rem 0rem 2rem 0rem;
}
.edit-hero img {
    width: 43%;
}

}